@font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Inter-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Inter-Medium.woff') format('woff');
    }
@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Inter-Bold.woff') format('woff');
    }
@font-face {
    font-family: 'Yport-Regularr';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/YportWebTrial-Regular.woff') format('woff');
    }
 
@font-face {
    font-family: 'Yport-SemiBold';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/YportWebTrial-SemiBold.woff') format('woff');
    }
 
@font-face {
    font-family: 'Yport-Bold';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/YportWebTrial-Bold.woff') format('woff');
    }
 

    *{
        padding:0px;
        margin:0px;
        box-sizing: border-box;
    }

    body{
        font-family:"Inter-Regular",sans-serif;
        font-size: 18px;
        height: 100%;
        width: 100%;
        color:#333;
        transition: 0.8s;
    }

    h1{
        font-family:"Yport-Bold",sans-serif;
        font-size: 57px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    h2{
        font-family:"Yport-Bold",sans-serif ;
        font-size: 45px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: capitalize;
         
    }
    h3{
        font-family:"Yport-Bold",sans-serif ;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
         
    }

    p{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 24px;

    }


    .container{
        max-width: 1230px;
        padding:0px 15px;
        margin:0 auto;
    }
    .yellow{
        color:#FCDC54;
    }
    .button{
        display: inline-block;
        background-color: #FCDC54;
        font-size: 18px;
        padding:16px 32px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 3px;
        text-decoration: none;
        color:#333;
        font-weight: 600;
    }
    .banner-wrapper {
        display: flex;
        align-items: center;
    }
    
    .banner-info {
        width: 100%;
        max-width: 50%;
    }
    
    .banner-img {
        width: 100%;
        max-width: 50%;
    }
    
    .banner-img img {
        width: 100%;
    }
    
    header {
        background: #F8F8FF;
    }
    .banner-info p {
    max-width: 500px;
    padding-bottom: 8px;
}
.single-logo {
    width: 100%;
    max-width: 100px;
    height: 100%;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #fcdc54;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-right: 8px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.single-logo img {
    width: 100%;
}

.client-compnay-logo-wrap {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.testimoial-area {
    padding-bottom: 56px;
}
section.protfolio-area {
    padding-top: 70px;
    padding-bottom: 72px;
}

.isotop-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.isotop-buttons ul li {
    padding: 8px 24px;
    margin-right: 8px;
    border: 1px solid #ffffff;
    /* border-radius: 3px; */
    cursor: pointer;
    transition: 0.8s;
    text-transform: uppercase;
    font-size: 16px;
}

.section-title h2 {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 16px;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 132px;
    height: 2px;
    background: #fcdc54;
    content: "";
}

.grid.project-image {
    /* display: grid;
    grid-template-columns: 33% 33% 33%; */
    margin: 0px -16px;
    margin-top: 48px;
}

.single-project-image  img {
    width: 100%;
}

.single-project-image {
    max-height: 374px;
    overflow: hidden;
    margin: 0px 16px;
    border: 4px solid #ddd;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 32px;
    box-shadow: 0 15px 10px -15px rgb(0 0 0 / 30%);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    max-width: 375px;
  
}
/* .single-project-image:hover {
    box-shadow: 0px 20px 20px rgb(0 0 0 / 10%);
} */
/* .single-project-image:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: #00000045;
    left: 0;
    top: 0;
} */

li.active {
    border: 1px solid #fcdc54 !important;
    border-radius: 15px;
    color: #fcdc54;
}

.isotop-buttons ul li:hover {
    color: #fcdc54;
}
.single-project-image a {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Yport-Bold';
    font-weight: 600;
    opacity: 0;
    transition: 0.6s;
}
.single-project-image:hover   a {
  opacity: 1;
}

/* responsive  */
@media (max-width:1199px) {
    .container{
        max-width: 990px;
    }
    h1 {
       
        font-size: 45px;
        
    }
}

@media (max-width: 768px){ 
    .container{
        max-width: 768px;
    }
h1 {
    font-size: 35px;
}
.banner-info p {
     
    font-size: 16px;
}
.button {
   
    font-size: 16px;
    padding: 14px 32px;
     
}
h2 {
   
    font-size: 32px;
  
}
section.protfolio-area {
    padding-top: 48px;
    padding-bottom: 40px;
}
}


@media (max-width:767px) {
    .banner-wrapper {
     
        flex-direction: column;
    }
    .banner-info {
        width: 100%;
        max-width: 100%;
        padding-top: 40px;
    }
    .banner-img {
        width: 100%;
        max-width: 100%;
    }
    .banner-img img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    h1 {
        font-size: 40px;
        max-width: 480px;
    }
    .banner-info p {
        font-size: 17px;
        max-width: 450px;
    }
    .isotop-buttons ul li {
        padding: 8px 11px;
        margin-right: 4px;
     
        font-size: 15px;
    }
    .grid.project-image {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0px -16px;
        margin-top: 32px;
    }
    .single-project-image {
        max-height: 270px;
      
    }
}
